$main-background: #1E1E1E;
$main-font-color: rgb(234, 232, 235);

//inputs
$input-placeholder: rgba(207, 191, 197, 0.7);
$input-text: white;
$input-background: #49454F;


//buttons
$btn-text: #EADDFF;
$btn-background: #39373b;


//selects
$select-text: #EADDFF;

//options
$option-color-font: #EADDFF;

//tables
$table-border: rgb(229, 229, 229);
$table-separate-line: rgb(229, 229, 229);
$table-background: #49454F;
$th-background: #39373b;
$table-title-border-line: rgb(177,93,255);
$table-string-background-hover: rgb(51,51,61);

//dialog
$dialog-background: rgba(255, 255, 255, 0.4);
$dialog-content-background: #1E1E1E;
